* {
    font-family: 'Lucida Sans Unicode';
}

.RandomPokemon {
    border: 1px solid blue;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 3vh auto;
}

.RandomPokemon h1 {
    color: blueviolet;
}

.RandomPokemon img {
    width: 250px;
}