* {
    font-family: 'Lucida Sans Unicode';
}

.RandomPokemon {
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    margin: 3vh auto;
}

.RandomPokemon img {
    width: 250px;
}